.navbar {
    background-color:rgb(30, 31, 31);
    overflow: hidden;
    height: 60px;
    padding: 10px;
  }

  .navbar-logo {
    float: left;
    margin-right: 20px;
  }

  .navbar-links {
    float: right;
    margin-left: 20px;
    
  }

  .navbar-links a {
    color: rgb(245, 235, 235);
    text-decoration: none;
    margin-right: 120px;
  }
.navbar .imgs{
    height: 40px;
    width: 40px;
    border-radius: 30px;
  
}
footer {
    background-color: black;
    color: white;
  }

  .footer-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .social-media {
    margin-right: 20px;
    margin-left: 50px;
  }

  .social-media img {
    width: 30px;
    margin-right: 10px;
   border-radius: 10px;

  }

  .contact-info p {
    margin: 5px 0;
    margin-left: 750px;
  }
